/* @import url(https://fonts.googleapis.com/css?family=Play:regular,700)
@import url(https://fonts.googleapis.com/css?family=Roboto:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic)
@import "normalize.css"
@tailwind base
@tailwind components
@tailwind utilities */

body {
  background-color: #ebf8ff;
}

/* затемнення картинок */
.dark-img {
  filter: brightness(70%);
}

.Hero {
  background-image: url("./assets/Hero.png");
  height: calc(100dvh - 100px);
  width: 100%;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

section {
  padding: 40px 80px;
}

footer {
  background: #cfe7f5;
}

input {
  background: transparent;
  border: 3px solid #266294;
  width: 100%;
  height: 40px;
  font-size: 16px;
  color: #266294;
  padding: 12px 16px;
}

input::placeholder {
  color: #266294;
}

input:focus,
textarea:focus {
  outline: none;
}

textarea {
  resize: none;
}

input[type="checkbox"] {
  width: 18px;
  height: 18px;
  border-radius: 5px;
  border: 3px solid #266294;
  -moz-appearance: none;
  -webkit-appearance: none;
  -o-appearance: none;
}

.h2-create {
  font-size: 22px;
  font-weight: 700;
  color: #111111;
  margin: 20px 0;
}
